* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding-top: 70px;
}

.wrapper {
  padding: 0 17%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header .nav a:hover {
  color: blue;
  transition: 0.5s ease;
}
.late {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}
#header img {
  width: 20px;
}

#header .nav a {
  text-decoration: none;
  color: rgb(20, 18, 18);
  font-size: 15px;
  font-weight: 700;
}

#header .nav {
  display: flex;
  width: 60%;
  gap: 20px;
}

#main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  gap: 40px;
  padding: 70px 0;
}

.main_left {
  display: flex;
  flex-direction: column;
}

.main_left img {
  width: 46px;
  margin-bottom: 15px;
}

.main_middle {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  width: 40%;
}

.main_middle h1 {
  font-size: 35px;
}

.main_middle h3 {
  color: rgba(17, 71, 31, 0.811);
  font-size: 23px;
}

.main_middle p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 18px;
}

.main_middle button img {
  width: 15px;
  background-color: rgb(66, 122, 202);
}

.main_middle button img:hover {
  background-color: rgb(97, 97, 223);
}

.signin {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signin a {
  text-decoration: none;
}

.main_middle button {
  width: 170px;
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(66, 122, 202);
  border: none;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}

.main_middle button:hover {
  background-color: rgb(97, 97, 223);
  transition: 0.3s ease;
}
.main_left img:hover {
  scale: 1.1;
  transition: 0.2s ease;
}

.profile img {
  width: 250px;
  border-radius: 130px 20px;
}

.scroll img {
  width: 22px;
  height: 22px;
}

.scroll {
  display: flex;
  margin-top: 100px;
  align-items: center;
  width: 200px;
}

.scroll a {
  text-decoration: none;
  color: rgba(17, 71, 31, 0.811);
  display: flex;
  align-items: center;
}

.scroll:hover {
  scale: 1.1;
  transition: 0.2s ease;
}

.about_section {
  display: flex;
  gap: 170px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about_section img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding-left: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 79px;
}

.info p {
  color: rgba(17, 71, 31, 0.811);
}

#down {
  text-align: center;
  padding-top: 70px;
}

#down h1 {
  font-size: 30px;
}

#down p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 16px;
}

.about_section p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 18px;
}

.mark {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mark b {
  font-size: 26px;
  margin-bottom: 10px;
}

.mark_1 p {
  font-size: 18px;
}

.mark_2 p {
  font-size: 18px;
}

.mark_3 p {
  font-size: 18px;
}

.butn {
  width: 160px;
  padding-left: 14px;
  padding-right: 14px;
  padding: 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(66, 122, 202);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.butn:hover {
  background-color: rgb(97, 97, 223);
  transition: 0.3s ease;
}

#new {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

#new p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 18px;
}

#new h1 {
  font-size: 25px;
  text-align: center;
}

#education {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.education_1 li {
  text-align: center;
  list-style: none;
  padding: 20px 20px;
  min-width: 100px;
  font-size: 20px;
  border-bottom: 0.5px solid black;
}

.education_1 h1 {
  color: rgb(66, 122, 202);
}

.education_1 {
  border-radius: 7px;
  padding: 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#quality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quality p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 18px;
}

.inter {
  display: flex;
  padding-top: 30px;
}

.inter img {
  width: 30px;
  padding-right: 5px;
}

#quality h1 {
  font-size: 30px;
}

#features {
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.degree {
  text-align: center;
  padding: 25px 10px;
  width: 600px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.degree h1 {
  font-size: 30px;
  padding-bottom: 15px;
  color: rgb(66, 122, 202);
}

.degree h3 {
  font-size: 25px;
  padding-bottom: 14px;
}

.degree p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 22px;
}

#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 70px;
  padding-bottom: 100px;
}

#project p {
  color: rgba(17, 71, 31, 0.811);
  padding-bottom: 20px;
  font-size: 20px;
}

#project h1 {
  font-size: 30px;
}

.work img {
  width: 250px;
  height: 200px;
}

.pro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.work {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 17px 17px;
  border-radius: 5px;
}

.work h2 {
  color: rgba(17, 71, 31, 0.811);
  padding-bottom: 5px;
}

.get {
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 12px;
  background-color: rgba(46, 113, 190, 0.908);
  width: 170px;
  padding: 22px 22px;
  cursor: pointer;
}

.get:hover {
  background-color: rgb(97, 97, 223);
  transition: 0.5s ease;
}

#Contact-section h1 {
  text-align: center;
  font-size: 30px;
}

#Contact-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

#Contact-section p {
  color: rgba(17, 71, 31, 0.811);
  font-size: 18px;
  text-align: center;
  padding-bottom: 50px;
}

.fill-in img {
  width: 30px;
  height: 30px;
  align-items: center;
  padding-top: 17px;
}

.fill-in {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cn {
  display: flex;
  width: 400px;
}

.cn h4 {
  padding-left: 15px;
  font-size: 22px;
}

.spn {
  font-size: 18px;
  color: rgba(17, 71, 31, 0.811);
  font-weight: 400;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right input {
  background-color: #eeeefc;
  width: 100%;
  outline: none;
  padding: 4px 8px 8px 0px;
  border: none;
}

.area {
  background-color: #eeeefc;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  height: 210px;
  padding: 4px 8px 8px 0px;
}

.l {
  width: 350px;
  background-color: #eeeefc;
  padding: 14px 18px 6px;
  border-radius: 12px;
}

.dot {
  display: flex;
  background-color: rgba(46, 113, 190, 0.908);
  border: none;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}

.dot:hover {
  background-color: rgb(97, 97, 223);
  transition: 0.3s ease;
}

.dot img {
  padding-bottom: 20px;
  padding-left: 5px;
}
footer {
  height: 200px;
  background-color: #5757e0;
  padding: 20px 0;
}

.last {
  display: flex;
}

.foot-1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#foot {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  max-width: 1200px;
}

.foot-1 h1,
.foot-1 p {
  color: #fff;
}

.foot-1 h1 {
  font-size: 40px;
  padding-right: 80px;
}

.foot-1 p {
  font-size: 18px;
}

.foot-2 {
  width: 60%;
}

.foot-2 a {
  text-decoration: none;
  color: #fff;
}

.foot-2 ul {
  padding-top: 15px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.foot-3 {
  padding-top: 60px;
  color: rgb(152, 146, 146);
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-2 a:hover {
  color: rgb(150, 150, 229);
  transition: 0.3s ease;
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 980px) {
  .wrapper {
    padding: 0 15%;
  }
  #header {
    padding: 0 15%;
  }
  #header .nav {
    gap: 27px;
  }
  .about_section {
    gap: 80px;
  }
  .mark {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .right {
    min-width: 150px;
  }
  .cn {
    width: 250px;
  }
  .fill-in {
    gap: 30px;
  }
  .fill-in .right .l input {
    width: 10px;
    padding: 2px 4px 4px 0px;
  }
  .right .l {
    width: 250px;
  }
}
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0 13%;
  }
  #header {
    padding: 0 11%;
  }
  #header .nav {
    width: 70%;
  }
  #header .nav a:nth-child(4) {
    display: none;
  }
  #main_section h1 {
    font-size: 27px;
  }
  #main_section p {
    font-size: 16px;
  }
  .main_middle h3 {
    font-size: 19px;
  }
  .profile img {
    width: 185px;
    margin-top: -120px;
  }
  .main_left img {
    width: 38px;
  }
  .main_middle .butn {
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main_middle .butn img {
    display: none;
  }
  .about_section img {
    width: 300px;
    height: 300px;
  }
  .about_section {
    gap: 50px;
  }
  .about_section p {
    font-size: 16px;
  }
  .mark b {
    font-size: 22px;
  }
  .mark p {
    font-size: 18px;
  }
  .info p {
    font-size: 16px;
  }
  .degree {
    padding: 25px 10px;
    width: 500px;
  }
  .degree h1 {
    font-size: 25px;
  }
  .degree h3 {
    font-size: 20px;
  }
  .degree p {
    font-size: 18px;
  }

  #education .education_1 h1 {
    font-size: 23px;
  }
  #education .education_1 ul li {
    font-size: 18px;
  }
  .work img {
    width: 230px;
    height: 150px;
  }
  .work {
    width: 230px;
  }
  #project {
    padding-bottom: 50px;
  }
  .hello {
    padding-bottom: 70px;
  }
  .right .l {
    width: 150px;
  }
  .area {
    height: 110px;
  }
  .dot {
    width: 180px;
    padding: 5px;
  }
  .left .cn h4 {
    font-size: 19px;
  }
  .spn {
    font-size: 17px;
  }
  .fill-in img {
    width: 25px;
    height: 25px;
  }
  .cn {
    width: 300px;
  }
  .left iframe {
    width: 250px;
    height: 150px;
    padding-left: 30px;
  }
  .foot-1 h1 {
    font-size: 30px;
  }
  .foot-1 p {
    font-size: 15px;
  }
  .foot-2 ul {
    font-size: 14px;
  }
}
@media all and (max-width: 640px) {
  .wrapper {
    padding: 0 11%;
  }
  #header {
    padding: 0 9%;
  }
  #header .nav {
    width: 75%;
  }
  #header .nav a:nth-child(7) {
    display: none;
  }
  .profile img {
    width: 165px;
    margin-top: -120px;
  }
  .about_section img {
    width: 250px;
    height: 250px;
  }
  .about_section {
    gap: 30px;
  }
  .degree {
    padding: 25px 10px;
    width: 400px;
  }
  .pro {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .pro .work {
    width: 350px;
  }
  .work img {
    width: 350px;
    height: 200px;
  }
  .hello {
    padding-left: 60px;
  }
  .right .l {
    width: 130px;
  }
  .dot img {
    display: none;
  }
  .dot {
    padding: 20px;
    width: 170px;
  }
  .left iframe {
    padding-left: 30px;
  }
}
@media all and (max-width: 480px) {
  .wrapper {
    padding: 0 7%;
  }
  #header {
    padding: 0 5%;
  }
  #header .nav {
    width: 65%;
  }
  #header .nav a:nth-child(6) {
    display: none;
  }
  .profile img {
    width: 135px;
    margin-top: -150px;
    margin-left: -30px;
  }
  #main_section h1 {
    font-size: 23px;
  }
  #main_section p {
    font-size: 15px;
  }
  .main_middle h3 {
    font-size: 15px;
  }
  .main_left img {
    width: 30px;
  }
  .main_middle .butn {
    width: 120px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .scroll img {
    width: 18px;
    height: 18px;
  }

  .scroll {
    margin-top: 100px;
    align-items: center;
    width: 150px;
  }
  .scroll b {
    font-size: 14px;
  }
  .about_section img {
    align-items: center;
    width: 210px;
    height: 200px;
  }
  .about_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
   .about_section .info{
    width: 340px;
   }
  #education {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
  .degree {
    width: 340px;
  }
  .left .cn {
    width: 200px;
    padding-left: 15px;
  }
  .fill-in {
    gap: 0px;
  }
  .left iframe {
    padding-left: 15px;
  }
  .right {
    padding-left: 20px;
  }
  .right .l {
    width: 100px;
  }
  .dot {
    width: 135px;
    padding: 9px 9px;
  }
  .foot-1 {
    padding-left: 20px;
    width: 100%;
  }
  .foot-1 h1 {
    font-size: 23px;
    padding-right: 20px;
  }
  .foot-2 ul {
    padding-left: 10px;
    font-size: 14px;
  }
  .foot-2 ul li,
  a {
    font-size: 12px;
  }
  .foot-3 {
    font-size: 14px;
  }
}
@media all and (max-width: 360px) {
  .wrapper {
    padding: 0 5%;
  }
  #header {
    padding: 0 3%;
  }
  #header .nav {
    width: 65%;
  }
  .profile {
    width: 110px;
    margin-top: -150px;
  }
  .profile img {
    width: 110px;
  }

  #main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    gap: 40px;
    padding: 70px 0;
  }

  .main_left img {
    width: 30px;
    margin-bottom: 15px;
  }
  .main_left {
    margin-top: -120px;
  }

  #main_section h1 {
    font-size: 18px;
  }

  .main_middle h3 {
    font-size: 15px;
    line-height: normal;
  }

  .main_middle p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 25px;
  }
  .main_middle .butn {
    width: 110px;
    padding: 8px 8px;
  }
  .about_section .info {
    width: 320px;
    padding-left: 14px;
  }
  .info p {
    font-size: 15px;
  }
  .my {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .degree {
    width: 270px;
  }
  #education {
    width: 270px;
  }
  .pro .work {
    width: 270px;
  }
  .work img {
    width: 270px;
  }
  .fill-in {
    
    width: 100%;
  }
  .left .cn h4 {
    font-size: 14px;
  }
  .left .cn img {
    width: 17px;
    height: 18px;
  }
   .left{
    padding-left: 85px;
   }
   .left iframe{
    width: 190px;
   }
   .left .cn span{
    font-size: 12px;
   }
}
